body {
    color: rgb(253, 248, 229);
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    background-color: rgb(10, 2, 19);
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 300;
    margin: 0 auto 1.5em;
    text-align: center;
    border-bottom: 1px double white;
}

/**header**/

#navHead {
    font-size: 3vw;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 100;
    text-shadow: 2px 1px #212121;
    text-align: center;
    padding: .7em 0;
    margin: 0 auto .5em auto;
    border-bottom: .4vw double white; 
    border-bottom-left-radius: 19%;
    letter-spacing: .15em;
    background: repeating-radial-gradient(circle at 0 200%, #e28915 .03vw, #764100 .04vw, #20c3ff .12vw);
}

 /*repeating-radial-gradient(circle at 0 200%, #e28915, #764100 3.5vw, #20c3ff 7vw),*/ 


#nameHead {
    vertical-align: top;
    line-height: 7vw;
}

#slash {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 11vw;
    margin: 0 -0.1em;
    vertical-align: bottom;
    line-height: 1em;
}

/**navbar**/

nav {
    margin: 3em auto 5em auto;
}

#flexNav {
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

#flexNav li {
    width: 90%;
    list-style-type: none;
    flex-grow: 1;
    padding: .5em 2em;
    justify-content: space-around;
    border-bottom: 2px solid white;
    text-align: center;
}

#flexNav a {
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease-out;
}

#flexNav a:hover {
    font-weight: 600;
    letter-spacing: .2em;
    text-shadow: 0 0 4px rgb(34, 32, 32), 0 0 5px rgb(247, 227, 227);
}

/**drop down nav**/

#dropDown {
    display: none;
    position: relative;
    width: 70%;
    margin: 1em auto;
    padding: .5em;
    background-color: rgba(36, 2, 2, 0.904);
    border: 1px solid rgba(158, 158, 158, 0.945);    
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 1.2s;
}

#dropDown:hover {
    background-color: linear-gradient(to left bottom, rgba(92, 88, 88, 0.377), rgba(255, 255, 255, 0.466));

}

#dropDown h4 {
    font-weight: 300;
    letter-spacing: .3vw;
    text-align: center;
    margin: auto;
}

#dropContain {
    display: none;
    position: absolute;
    width: 93%;
    margin-top: .5em;
    padding: 1em auto;
    background: repeating-radial-gradient(circle at 0 200%, #ff8c00 .03vw, #2c241a .04vw, #063546 .12vw);;
    border: 1px solid rgba(158, 158, 158, 0.945);
    border-radius: .2em;
}

#dropContain a {
    display: block;
    letter-spacing: .3vw;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 4px rgb(34, 32, 32), 0 0 5px rgb(247, 227, 227);
}

#dropContain a:hover {
    background: rgba(223, 220, 220, 0.945);
}

/**main body**/

.mainBody {
    width: 56%;
    float: left;
    margin-bottom: 5em;
}

.mainBody p {
    line-height: 1.4em;
}

.mainBody img {
    margin: 3em auto;
}

.mainAside {
    width: 34%;
    float: right;
    font-size: .8em;
    text-align: justify;
    line-height: 1.5em;
}

.mainAside h3 {
    font-size: 1.5em;
    letter-spacing: .3em;
    text-align: right; 
    border-bottom: 1px solid white;
}

.mainContainer {
    width: 87%;
    margin: 0 auto;
}

/*about*/

.aboutContainer {
    width: 91%;
    margin: 0 auto;
}

.aboutBody {
    margin-right: 1em;
    width: 80%
}

.aboutBody p {
    line-height: 1.6em;
    font-weight: 300;
    margin-left: .4em;
}

.jokes {
    font-size: .8em;
    font-style: italic;
    letter-spacing: .1em;
    margin: auto .4em;
}

.education {
    width: 40%;
    float: right;
    font-size: .9em;
    line-height: 1.5em;
    margin: 0 1em 1em 3em;
    border-bottom: 1px groove white;
    border-left: 1px groove white;
    box-shadow: 0 0 10px rgb(247, 247, 176);
}

.education h3 {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: .1vw;
    text-indent: 1em;
    margin: .3em auto;
    padding-top: .5em;  
    padding-bottom: .6em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
}

.school {
    width: 90%;
    margin: 1em auto 2em 1em;
}

.education h4 {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: .3vw;
    margin: .3em auto;
    padding: .2em;
    border-bottom: 3px double white; 
}

.education section {
    margin: .4em auto;
}

.education p {
    margin: .7em .6em;
    padding-left: -1em;
    list-style: none;
}

.study {
    margin-right: .3em;
    font-weight: 500;
    font-size: 1.1em;
    letter-spacing: .2vw;
}

#lars {
    display: block;
    width: 60%;
    margin: 3em auto;
}


/**footer**/

footer {
    clear: both;
    float: right;
    margin: 3em 4em 0 0;
}

footer p {
    margin-top: 0;
    font-size: .8em;
}

/**anchors**/

a {
    color: white;
}

/**media**/

@media (max-width: 577px) {
    #nameHead, #titleHead {
        font-size: 5vw;
    }
    nav {
        margin: 3em auto;
    }
    #flexNav {
        display: none;
    }
    #dropDown {
        display: block;
    }
    .mainBody {
        float: none;
        width: 93%;
        text-align: justify;
        margin: 3em auto;
    }
    .mainBody p {
        font-size: 4vw;
    }
    .mainAside {
        float: none;
        width: 93%;
        margin: 2em auto;
    }
    .aboutBody {
        margin: auto;
        width: 90%
    }
    .aboutBody p {
        line-height: 1.6em;
        font-weight: 300;
        margin-left: .4em;
    }
    .education {
        float: none;
        width: 90%;
        margin: 2em auto;
    }
}
