body {
    color: rgb(253, 248, 229);
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    background-color: rgb(10, 2, 19);
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 300;
    margin: 0 auto 1.5em;
    text-align: center;
    border-bottom: 1px double white;
}

/**header**/

#navHead {
    display: none;
    font-size: 3vw;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 100;
    text-shadow: 2px 1px #212121;
    text-align: center;
    padding: .7em 0;
    margin: 0 auto .5em auto;
    border-bottom: .4vw double white; 
    border-bottom-left-radius: 19%;
    letter-spacing: .15em;
    background: repeating-radial-gradient(circle at 0 200%, #e28915 .03vw, #764100 .04vw, #20c3ff .12vw);
}

 /*repeating-radial-gradient(circle at 0 200%, #e28915, #764100 3.5vw, #20c3ff 7vw),*/ 

 #flexHead {
    font-size: 3vw;
    margin: 0 0 .7em 0;
    padding-top: .4em;
    letter-spacing: .04em;
    //  border-bottom: .1em dashed white;
    transform: skewX(-10deg);
    font-weight: 100;
    text-align: center;
    background: radial-gradient(circle at 0 200%, white 7%, lightslategray 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    .slash {
        background: radial-gradient(circle at 0 200%, white 70%, lightslategray 110%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
 }

.nameHead {
    vertical-align: top;
    line-height: 7vw;
}

.slash {
    display: inline-block;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 11vw;
    margin: 0 -0.1em;
    vertical-align: bottom;
    line-height: 1em;
    transform: skewX(-30deg);
}

/**navbar**/

nav {
    margin: 0 auto 2em auto;
    border-bottom: 2px solid white;
    background: repeating-radial-gradient(circle at 9%, rgba(0, 0, 0, 0) 12%, rgba(43, 43, 42, 0.945) 15%);
}

#navPhoto {
    display: inline-block;
    width: 20%;
    padding: .5em;
    padding-left: 1vw;
    img {
        width: 80%;
        margin: auto;
        border-radius: 50%;
        filter: drop-shadow(0 0 1.3vw rgba(255, 255, 255, 0.61)),
    }
}

#navLinks {
    display: inline-block;
    width: 75%;
}

#flexNav {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-left: 0;
}

#flexNav li {
    width: 90%;
    list-style-type: none;
    flex-grow: 1;
    padding: .5em 2em;
    justify-content: space-around;
    // border-bottom: 2px solid white;
    text-align: center;
}

#flexNav a {
    display: inline-block;
    text-decoration: none;
    transition: all .3s ease-out;
    font-size: 1.6em;
}

#flexNav a:hover {
    font-weight: 400;
    letter-spacing: .1em;
    transform: skewX(-15deg);
    text-shadow: 0 0 4px rgb(34, 32, 32), 0 0 5px rgb(247, 227, 227);
}

/**drop down nav**/

#dropDown {
    display: none;
    position: relative;
    width: 70%;
    margin: 1em auto;
    padding: .5em;
    background-color: rgba(36, 2, 2, 0.904);
    border: 1px solid rgba(158, 158, 158, 0.945);    
    border-radius: .5em;
    cursor: pointer;
    transition: background-color 1.2s;
}

#dropDown:hover {
    background-color: linear-gradient(to left bottom, rgba(92, 88, 88, 0.377), rgba(255, 255, 255, 0.466));

}

#dropDown h4 {
    font-weight: 300;
    letter-spacing: .3vw;
    text-align: center;
    margin: auto;
}

#dropContain {
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0;
    margin: .8em auto 0;
    background: repeating-radial-gradient(circle at 0 200%, #ff8c00 .03vw, #2c241a .04vw, #063546 .12vw);;
    border: 1px solid rgba(158, 158, 158, 0.753);
    border-radius: .2em;
}

#dropContain a {
    display: block;
    font-size: 1.7em;
    letter-spacing: .4em;
    line-height: 2em;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 4px rgb(34, 32, 32), 0 0 5px rgb(247, 227, 227);
}

#dropContain a:hover {
    background: rgba(223, 220, 220, 0.945);
}

/*** dynamic divs ***/

#aboutContainer, #portfolioContainer, #contactContainer {
    display: none;
}

/*about*/

.aboutContainer {
    width: 91%;
    margin: 0 auto;
}

.aboutBody {
    margin-right: 1em;
    width: 80%
}

.aboutBody p {
    line-height: 1.6em;
    font-weight: 300;
    margin-left: .4em;
}

.aboutLeft {
    float: left;
    width: 80%;
}

// #eduRight {
//     display: block;
// }

// #eduMobile {
//     display: none;
//     float: none;
//     width: 90%;
//     margin: 2em auto;
// }

.education {
    width: 40%;
    float: right;
    font-size: .9em;
    line-height: 1.5em;
    margin: 0 1em 1em 3em;
    border-bottom: 1px groove white;
    border-left: 1px groove white;
    box-shadow: 0 0 10px rgb(247, 247, 176);
}

.education h3 {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: .1vw;
    text-indent: 1em;
    margin: .3em auto;
    padding-top: .5em;  
    padding-bottom: .6em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.61);
}

.school {
    width: 90%;
    margin: 1em auto 2em 1em;
}

.education h4 {
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: .3vw;
    margin: .3em auto;
    padding: .2em;
    border-bottom: 3px double white; 
}

.education section {
    margin: .4em auto;
}

.education p {
    margin: .7em .6em;
    padding-left: -1em;
    list-style: none;
}

.education p>span {
    display: block;
}

#eduMobile {
    display: none;
}

.study {
    margin-right: .3em;
    font-weight: 500;
    font-size: 1.2em;
    letter-spacing: .2vw;
}

#lars {
    display: block;
    width: 60%;
    margin: 3em auto;
}


/**footer**/

footer {
    clear: both;
    float: right;
    margin: 3em 4em 0 0;
}

footer p {
    margin-top: 0;
    font-size: .8em;
}

/**anchors**/

a {
    color: white;
}

* {
    box-sizing: inherit;
}

.contactMain {
    margin-bottom: 5em;
}

#contactHeader {
    width: 80%;
}

.grid {
    margin: 0 auto;
    max-width: 50%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 4em); 
    grid-row-gap: 1.2em;
    grid-column-gap: .8em;
    align-items: stretch;
    justify-items: stretch;
    border-radius: 1em;
}

.item {
    cursor: pointer;
    display: grid;
    align-self: stretch;
    justify-self: stretch;
    font-weight: 300;
    letter-spacing: .14vw;
    background-color: rgba(128,128,128,.3);
    border: .1vw double rgb(159, 211, 211);
    border-radius: 3em 30% 3em 30%;
    transition: all 1.1s;
}

.item:hover {
    background-color: rgba(104, 118, 129,.8);
    color: rgb(255, 250, 210);
    letter-spacing: .2vw;
    text-shadow: .2em .2em .05em rgba(34, 46, 177, .95),
                -.2em -.2em .05em rgba(250, 47, 47, .95);
                /* 1vw 0 3vw rgb(19, 19, 19), 
                -1vw 0 7vw rgba(255, 253, 235, 0.97); */
    border-radius: .7em;
    /* box-shadow: 0 0 2.5vw rgb(19, 19, 19), 0 0 4vw rgba(255, 253, 235, 0.97); */
}

.item p {
    font-size: 1.3em;
}

.item p, .item svg {
    margin: auto;
}

.item svg {
    width: 3em;
    height: auto;
    transition: all .4s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

.item svg:hover {
    fill: rgba(30, 31, 32, 0.733);
    filter: drop-shadow(.31vw .31vw .15vw rgba(34, 46, 177, .9)) drop-shadow(-.31vw -.31vw .15vw rgba(250, 47, 47, .9));
}

.handle {
    font-size: 1.2vw;
    margin-left: 1.1vw;
    letter-spacing: .2vw;
}

#iconCredit {
    font-size: .7vw;
}

/**media**/

@media (max-width: 920px) {
    .education {
        width: 53%;
    }
}

@media (max-width: 577px) {
    .nameHead, .titleHead {
        font-size: 5vw;
    }
    nav {
        display: none;
        margin: 1.3em auto;
    }
    #navHead {
        display: block;
    }
    #flexNav {
        display: none;
    }
    #dropDown {
        display: block;
    }
    .mainBody {
        float: none;
        width: 93%;
        text-align: justify;
        margin: 3em auto;
    }
    .mainBody p {
        font-size: .9em;
    }
    .mainAside {
        float: none;
        width: 93%;
        margin: 2em auto;
    }
    .aboutBody {
        margin: auto;
        width: 90%
    }
    .aboutBody p {
        line-height: 1.6em;
        font-weight: 300;
        margin-left: .4em;
    }
    .education {
        float: none;
        width: 90%;
        margin: 2em auto;
    }
    #eduLeft {
        display: none;
    }
    #eduMobile {
        display: block;
    }
    .aboutLeft {
        float: none;
    }
}


@media (max-width: 816px) {
    .grid {
        max-width: 80%;
    }
    .handle {
        font-size: 1.8vw;
    }
} 

@media (max-width: 566px) {
    .grid {
        max-width: 90%;
    }
    .item p {
    font-size: 1.1em;
    }
    .handle {
        font-size: 2.2vw;
    }
    .item svg {
        width: 2.5em;
    }
} 


