<div class="aboutContainer">
    <aside class="education" id="eduLeft">
        <h3>Education</h3>
        <div class="school">
            <h4>Nashville Software School</h4>
            <section class="schoolDetail">
                <p>
                    <span class="study">Cohort 23:</span>
                    <span>November 2017 - present</span>
                </p>
                <p>
                    <span class="study">Concentration:</span>
                    <span>Javascript Fullstack Development</span>
                </p>
            </section>
        </div>
        <div class="school">
            <h4>Middle Tennessee State University</h4>
            <section class="schoolDetail">
                <p>Class of Spring 2012</p>
                <p>
                    <span class="study">Concentration:</span> <span>Audio Engineering</span></p>
            </section>
        </div>
    </aside>
    <div id="aboutPhoto"><img src="../img/tm_photo.jpg"/></div>
    <div class="aboutBody">
        <h2>About Myself</h2>
        <p><i><strong>Apprentice Software Developer at Nashville Software School,</strong></i> where I began studying &amp; implementing fullstack software development concentrating
            on Node.js and other Javascript frameworks.</p>
        <p>My avidity for software was spurred early on with digital audio recording and web design on open sourced media platforms. I would tinker
        away late into the evenings of my high school years editing/mixing audio and designing web pages for myself and others. I
        was hooked on the feeling of accomplishment from learning, creating, and meeting goals I set through the technology I utilized.</p>
        <p>During my studies at MTSU and taking a lab assistant position for the Digital Audio Production studios on campus,
        I learned the sense of fulfillment I gained from assisting peers in their understanding of the software-at-hand
        and being fully immersed into the study/practice of technology.</p>
        <p>After completing my studies, I chose to pursue musical aspirations that had grown ever stronger by the years. And after many years of national touring &amp; late-night recordings: I found myself desiring a career to extend my desire for broader creativity/problem-solving. Thus, with the motivation and guidance from a few close peers who studied
        at Nashville Software School, I began my career in software development and have been diving deeper into understanding
        and creating since</p>
        <p>I have chosen to pursue a career in software development to grow in a field based on the skills and tools to create,
            to be engaged in a community focused on innovation, &amp; to contribute to society by the working towards better
            innercommunication for all through technology.</p>
        <h2>Experience</h2>
        <p>Please view the portfolio on this page to view my personal work &amp; current/collabrative work at Nashville
            Software School. You can also visit my GitHub, linked on the Contact Page, to view my development portfolio.</p>
        <div class="education" id="eduMobile">
            <h3>Education</h3>
            <div class="school">
                <h4>Nashville Software School</h4>
                <section class="schoolDetail">
                    <p>
                        <span class="study">Cohort 23:</span>
                        <span>November 2017 - present</span>
                    </p>
                    <p>
                        <span class="study">Concentration:</span>
                        <span>Javascript Fullstack Development</span>
                    </p>
                </section>
            </div>
            <div class="school">
                <h4>Middle Tennessee State University</h4>
                <section class="schoolDetail">
                    <p>Class of Spring 2012</p>
                    <p>
                        <span class="study">Concentration:</span> Audio Engineering</p>
                </section>
            </div>
        </div>
        <h2>Personal</h2>
        <p>For my time away from glowing squares, my interests will be listed (hopefully in a creative manner) soon in the space
            given below. For now, here's a pic of my deng catto doing a heckin' lounge.</p>
        <img id="lars" src="img/lars.JPG">
    </div>
</div>