<div class="aboutContainer">
    <aside class="education" id="eduLeft">
        <h3>Education</h3>
        <div class="school">
            <h4>Nashville Software School</h4>
            <section class="schoolDetail">
                <p>
                    <span class="study">Cohort 23:</span>
                    <span>November 2017 - present</span>
                </p>
                <p>
                    <span class="study">Concentration:</span>
                    <span>Javascript Fullstack Development</span>
                </p>
            </section>
        </div>
        <div class="school">
            <h4>Middle Tennessee State University</h4>
            <section class="schoolDetail">
                <p>Class of Spring 2012</p>
                <p>
                    <span class="study">Concentration:</span> <span>Audio Engineering</span></p>
            </section>
        </div>
    </aside>
    <div class="aboutBody">
        <h2>About Myself</h2>
        <p>I am student developer at Nashville Software School, where I have begun studying fullstack web development concentrating
            on Node.js and other Javascript-based languages within the MEAN stack.</p>
        <p>My interest in web development was peaked during an early era of social media. I caught the proverbial bug diving through the open HTML &amp; being able to design
            to my heart's content.</p>
        <p>I have chosen to pursue a career in software development to grow in a field based on the skills and tools to create,
            to be engaged in a community focused on innovation, &amp; to contribute to society by the working towards better
            innercommunication for all through technology.</p>
        <h2>Experience</h2>
        <p>Please view the portfolio on this page to view my personal work &amp; current/collabrative work at Nashville
            Software School. You can also visit my GitHub, linked on the Contact Page, to view my development portfolio.</p>
        <div class="education" id="eduMobile">
            <h3>Education</h3>
            <div class="school">
                <h4>Nashville Software School</h4>
                <section class="schoolDetail">
                    <p>
                        <span class="study">Cohort 23:</span>
                        <span>November 2017 - present</span>
                    </p>
                    <p>
                        <span class="study">Concentration:</span>
                        <span>Javascript Fullstack Development</span>
                    </p>
                </section>
            </div>
            <div class="school">
                <h4>Middle Tennessee State University</h4>
                <section class="schoolDetail">
                    <p>Class of Spring 2012</p>
                    <p>
                        <span class="study">Concentration:</span> Audio Engineering</p>
                </section>
            </div>
        </div>
        <h2>Personal</h2>
        <p>For my time away from glowing squares, my interests will be listed (hopefully in a creative manner) soon in the space
            given below. For now, here's a pic of my deng catto doing a heckin' lounge.</p>
        <img id="lars" src="img/lars.JPG">
    </div>
</div>