<div id="homeWrap">
    <div id="obStrat">
        <h2>Oblique Strategy<sup>
            <a href="https://en.wikipedia.org/wiki/Oblique_Strategies" target="_blank">&deg;</a>
        </sup><span id="cardNum">#{{id}}</span></h2>
        <div id="obCard">
        <p>{{strategy}}</p>
        </div>
    </div>
</div>
