<div id="homeWrap">
    <div id="obStrat">
        <h2>Oblique Strategy <span id="obLink">
            <a href="https://en.wikipedia.org/wiki/Oblique_Strategies" target="_blank">&deg;</a>
        </span><span id="cardNum">#{{id}}</span></h2>
        <div id="obCard">
        <p>{{strategy}}</p>
        </div>
    </div>
</div>
